<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section
      style="
        padding: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <div
        style="
          background-color: #e6e6ff;
          padding: 40px;
          border-radius: 20px;
          box-shadow: rgb(209, 209, 209) 5px 5px 5px;
        "
        class="miniContainer"
      >
        <h1
          style="
            color: black;
            text-align: center;
            font-size: 50px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-shadow: white 2px 2px 2px;
          "
        >
          Congratulations
        </h1>

        <hr style="margin: 20px 0" color="#ccccff" />

        <p
          style="
            color: black;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
            text-align: center;
          "
        >
          Hello <strong>Isaac Newton</strong>,<br /><br />
          You have successfully created a <strong>Lock savings</strong> savings
          plan. This is a good step and we encounrage you to keep saving. Your
          funds are safe with us. Take care of uncertainity
        </p>
      </div>
    </section>
  </body>
</html>
